<div id="<%= dom_id author %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= author.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= author.bio %>
  </p>

</div>
